{%  extends 'base/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block template_head %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- Select2 style & scripts -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link href="/static/misc/select2/css/select2.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="/static/django_select2/django_select2.js"></script>
    <script src="/static/misc/select2/js/autofocus.js"></script>
    <!-- Axios for AJAX calls -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- Page specific styling -->
    <style>
        .nav-item button {
            width: 100%;
        }
    </style>
{% endblock template_head %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">
                {% with request.resolver_match.url_name as url_name %}
                    {% if url_name == 'viewAddVehicle' %}Add a Vehicle{% endif %}
                    {% if url_name == 'viewEditVehicle' %}Edit a Vehicle{% endif %}
                    {% if url_name == 'viewSellVehicle' %}Sell a Vehicle{% endif %}
                {% endwith %}
            </h5>
            <h6 class="card-subtitle text-muted">Any changes made must be saved.</h6>
        </div>

        <div class="card-body">
            <ul class="nav nav-pills nav-fill" id="inventoryTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="btn btn-lg btn-outline-success active" id="vehicle-tab" data-bs-toggle="tab" data-bs-target="#vehicle" type="button" role="tab" aria-controls="vehicle" aria-selected="true">Vehicle</button>
                </li>
                <li class="nav-item mx-2" role="presentation">
                    <button class="btn btn-lg btn-outline-success" id="purchase-tab" data-bs-toggle="tab" data-bs-target="#purchase" type="button" role="tab" aria-controls="purchase" aria-selected="false">Purchase</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="btn btn-lg btn-outline-success" id="sales-tab" data-bs-toggle="tab" data-bs-target="#sale" type="button" role="tab" aria-controls="sale" aria-selected="false">Sale</button>
                </li>
            </ul>
            <form id="vehicleForm" method='post' novalidate>
                <div class="tab-content" id="inventoryTabContent">
                    <div class="tab-pane fade show active" id="vehicle" role="tabpanel" aria-labelledby="vehicle-tab">
                        {% crispy vehicle_form %}
                    </div>
                    <div class="tab-pane fade" id="purchase" role="tabpanel" aria-labelledby="purchase-tab">
                        {% crispy purchase_form %}
                    </div>
                    <div class="tab-pane fade" id="sale" role="tabpanel" aria-labelledby="sales-tab">
                        {% crispy sales_form %}
                    </div>
                </div>
                <button type="submit" formmethod="post" class="btn btn-primary">Save Changes</button>
            </form>
        </div>
    </div>

    <div class="modal fade" id="customerModal" tabindex="-1" aria-labelledby="customerModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="customerModalLabel">Add a New Customer</h5>
                    <button type="button" id="customerClose" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form id="customerForm" method='post'>
                    <div class="modal-body">
                        {% crispy customer_form %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" formmethod="post" class="btn btn-primary">Add Customer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}

{% block template_body %}
    <script>
        let customer_form = document.querySelector("#customerForm")
        let customer_close = document.querySelector("#customerClose")
        customer_form.addEventListener('submit', function(event) {
            event.preventDefault();
            let data = new FormData(this);
            axios.post('{% url 'customers:ajaxAddCustomer' %}', data)
                .then(function (response) {
                    if (response.status === 200) {
                        customer_form.reset();
                        customer_close.click();
                        window.notyf.open({
                            'type': 'success',
                            'message': 'Success! Customer has been added.',
                            'position': {'x': 'right', 'y': 'top'}
                        });
                    }
                })
                .catch(function (error) {
                    console.log(error);
                    window.notyf.open({
                        'type': 'error',
                        'message': "Error saving customer. Please contact administrator.",
                        'position': {'x': 'right', 'y': 'top'}
                    });
                });
        });
    </script>
{% endblock template_body %}