{% load static %}
{% load common_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static '/base/css/light.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static '/users/login/css/style.css' %}">
        <title>BalonPOS Login</title>
    </head>
    <body class="text-center">
        <div class="modal">
            <form class='form-signin' method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <img class="mb-4" src="{% static 'users/login/images/logo.png' %}" alt="" width="300" height="129">
                <h2 class="mb-3">Please sign in</h2>
                <input type="text" id="id_username" name="username" class="form-control mb-1" placeholder="Username" required autofocus>
                <input type="password" id="id_password" name="password" class="form-control mt-1 mb-4" placeholder="Password" required>

                <button type="submit" class="btn btn-primary">Login</button>
                <input type="hidden" name="next" value="{{ next }}">
            </form>
        </div>
        <script src="{% static '/base/js/app.js' %}"></script>
        {% if messages %}
            {% for message in messages %}
                {% autoescape off %}
                    {% message_to_notyf message 'center' 'top' %}
                {% endautoescape %}
            {% endfor %}
        {% endif %}
    </body>
</html>

